
/* .trial {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  } */


  /* .lexend-deca-<uniquifier> {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  .container{
    background-color:hsl(233, 47%, 7%) ;min-height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: "Inter", sans-serif;
  }
  .content{
    background-color: hsl(244, 38%, 16%);
    border-radius: .5rem;
    overflow: hidden;
    max-width:320px;
    display: flex;
    flex-direction: column;
  }
  img{
    max-width: 100%;
  }

  .infoContainer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 1.5rem;
  }
  .infoContainer *{
    text-align: center;
  }
  .infoContainer h1{
    font-weight: 700;
    font-size: 1.5rem;
  }
  .infoContainer p{
    font-weight: 400;
    color:  hsla(0, 0%, 100%, 0.75);
    line-height: 1.2;
  }
  ul.stat{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  ul.stat h2{
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: .2rem;
  }
  ul.stat span{
    text-transform:uppercase;
    color:hsla(0, 0%, 100%, 0.75) ;
  }


  @media (min-width:375px){
    .content{
      flex-direction: row;
      width: 70%;
      max-width: 1440px;
    }
    .content:first-child{
      order: 1;
    }
    .infoContainer{
      order: -1;
      align-items: start;
      justify-content: space-around;
    }
    .infoContainer *{
      text-align: left;
    }
    ul.stat{
      flex-direction: row;
      justify-content: space-between;
    }

  }